*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;

    display: grid;
    gap: 2rem;
}

.title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;

    color: steelblue;

}

.title::after{
    content: "Soy un psuedoelemento";
    font-size: 1rem;
    margin-top: 1rem;
}